<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>上传文件</title>
    <!-- 引入CSS文件 -->
    <link rel="stylesheet" type="text/css" href="/static/webuploader-0.1.5/webuploader.css" />
    <!-- 引入js-->
    <script src="/static/webuploader-0.1.5/webuploader.js"> </script>
</head>
<body>
<!--<div>-->
<!--    <h1>文件上传:</h1>-->
<!--</div>-->
<!--<div id="uploader" class="wu-example">-->
<!--    &lt;!&ndash;用来存放文件信息&ndash;&gt;-->
<!--    <div id="thelist" class="uploader-list"></div>-->
<!--    <div class="btns">-->
<!--        <div id="picker">选择文件</div>-->
<!--        <button id="ctlBtn" class="btn btn-default">开始上传</button>-->
<!--    </div>-->
<!--</div>-->

<form method="post" action="/upload/">

</form>

</body>
</html>